{% extends 'base.html.twig' %}

{% block title %}Changer Mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Changer Mot de passe</h1>
        <div class="form-row">
            <div class="col-md-4">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary">
                    Changer Mot de passe
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
