{% extends 'base.html.twig' %}

{% block title %}Remplir les informations de mon compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>Remplir les informations de mon compte</h1>
        {{ include('profile/_form.html.twig') }}
    </div>

{% endblock %}
