{% if status == 'Publiée' %}
    <span class="badge badge-success">{{ status }}</span>
{% elseif status == 'Réservée' %}
    <span class="badge badge-info">{{ status }}</span>
{% elseif status == 'Cloturée' %}
    <span class="badge badge-secondary">{{ status }}</span>
{% endif %}
