{% extends 'base.html.twig' %}

{% block title %}Nouvelle demande{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une demande</h1>
        <br>
        {{ include('demande/_form.html.twig') }}
    </div>
{% endblock %}
